<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="../js/food.js"></script>
    <link rel="stylesheet" href="../css/everybody.css">
    <link rel="stylesheet" href="../css/food.css">

</head>
<body onload="importAllProducts()">
    <div class="container">
        <input id="searchProduct" type="text" placeholder="Enter product name"/>
    <div id="autocomplete_result" style="display: none;"></div>
    
    <input type="button" onclick="search()" value="Search...">
    <input type="button" onclick="Clear()" value="Clear">
    <div class="selectFood"></div>
    <div class="getValues"></div>
    </div>
</body>
</html>